body {
  margin: 0;
  padding: 0; /* 기본 마진 제거 */
  font-family: 'Malgun Gothic', sans-serif; /* 원하는 폰트로 설정 */
}

:root {
  --background-color: white;
  --text-color: black;
  --button-background: #444;
  --button-text-color: #838383;
  --border-color: #ccc;
  --menu-item-background-color: #f5f5f5;
  --menu-text-color: #5c5c5c;
  --menu-active-color: white;
  --menu-item-active-background-color: #ffffff;
  --menu-item-active-text-color: #000000;
  --menu-item-active-border-color: transparent;
  --menu-item-text-color: #5c5c5c; /* 기본 글자색 */
  --logo-height: 5vh; /* 로고 크기 조절 변수 */
  --logo-image: url('src/assets/logo2.png');
}

.Light-theme {
  --background-color: white;
  --text-color: black;
  --button-background: #444;
  --button-text-color: white;
  --border-color: #ccc;
  --menu-background-color: #f5f5f5;
  --menu-text-color: #5c5c5c;
  --menu-active-color: white;
  --menu-item-active-background-color: #ffffff;
  --menu-item-active-text-color: #000000;
  --menu-item-active-border-color: transparent;
  --logo-image: url('src/assets/logo2.png');
  --logo-height: 5vh; /* 로고 크기 조절 변수 */
}

.Dark-theme {
  --background-color: #2d2d2d;
  --text-color: white;
  --button-background: #444;
  --button-text-color: white;
  --border-color: #555;
  --menu-background-color: #242424;
  --menu-text-color: white;
  --menu-active-color: #ffffff;
  --menu-item-background-color: #2d2d2d;
  --menu-item-active-background-color: #2d2d2d;
  --menu-item-active-text-color: #ffffff;
  --menu-item-active-border-color: #555555;
  --menu-item-text-color: #ffffff;
  --logo-height: 5vh; /* 로고 크기 조절 변수 */
  --logo-image: url('src/assets/logo_white.png');
}

.Pink-theme {
  --background-color: #ffe4e9; /* 전체 배경 색상 */
  --text-color: #4a4a4a; /* 텍스트 색상 */
  --button-background: #ffadc1; /* 버튼 배경 색상 */
  --button-text-color: white; /* 버튼 텍스트 색상 */
  --border-color: #ffb6c1; /* 테두리 색상 */
  --background-repeat: no-repeat; /* 배경 이미지 */
  --background-size: contain; /* 이미지 크기 */
  --background-position: 300px bottom; /* 이미지 위치 */
  --menu-item-background-color: #ffadc1;
  --menu-text-color: white;
  --menu-active-color: #ff6384;
  --menu-item-active-background-color: #ffe4e9;
  --menu-item-active-text-color: #4a4a4a;
  --menu-item-active-border-color: #ffb6c1;
  --menu-item-text-color: #4a4a4a;
  --logo-image: url('src/assets/logo_white.png');
  --logo-height: 5vh; /* 로고 크기 조절 변수 */
}

.Sky-theme {
  --background-color: #e0f7fa; /* 연한 하늘색 배경 */
  --text-color: #007bb2; /* 어두운 파란색 텍스트 */
  --button-background: #4dd0e1; /* 버튼 하늘색 배경 */
  --button-text-color: white; /* 버튼 텍스트 색상 */
  --border-color: #00acc1; /* 테두리 하늘색 */
  --background-repeat: no-repeat; /* 배경 이미지 */
  --background-size: cover; /* 이미지 크기 */
  --background-position: center; /* 이미지 위치 */
  --menu-text-color: white;
  --menu-active-color: #00acc1;
  --menu-item-background-color: #00acc1;
  --menu-item-active-background-color: #e0f7fa;
  --menu-item-active-text-color: #007bb2;
  --menu-item-active-border-color: #00acc1;
  --menu-item-text-color: #007bb2;
  --logo-image: url('src/assets/logo_white.png');
  --logo-height: 5vh; /* 로고 크기 조절 변수 */
}
